.light {
  --text: #252525;
  --background: white;

  --background-header: #eee;
  --image-color: invert(0%);
}

.dark {
  --text: white;
  --background: #202124;

  --background-header: #393d3e;
  --image-color: invert(100%);
}

body section.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: var(--background-header);

  div {
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: var(--text);
    }

    img {
      width: 20px;
      padding: 5px;
      filter: var(--image-color);
    }
  }
}
