.app-logo {
  height: 15vmin;
  position: absolute;
  top: 5%;
  left: 0;

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo-animation {
    animation: app-logo-float infinite 3s ease-in-out;
  }
}

.red {
  filter: invert(33%) sepia(83%) saturate(6358%) hue-rotate(347deg) brightness(90%) contrast(91%);
}

.app-header {
  height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.col {
  width: 50%;
  height: 50%;
}

.app-link {
  color: rgb(112, 76, 182);
}

@keyframes app-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
