@use 'sass:math';
$red: #dc262d;

.app-logo {
  height: 15vmin;
  display: block;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo-animation {
    animation: app-logo-float infinite 3s ease-in-out;
  }
}

.red {
  filter: invert(33%) sepia(83%) saturate(6358%) hue-rotate(347deg) brightness(90%) contrast(91%);
}

.app-header {
  padding: 12px;
  height: calc(100vh - 32px); // 32px = navbar height
  bottom: 0;
  display: flex;
  font-size: calc(8px + 2vmin);
}

.col {
  width: 50%;
}

.app-link {
  color: rgb(112, 76, 182);
}

@keyframes app-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

// Variables
$window-close: #f77669;
$window-minify: #ffcb6b;
$window-expand: #c3e88d;

$text-header: black;
$background-header: #e3e3e3;
$background-code: white;
// $text-header: #eee;
// $background-header: #393d3e;
// $background-code: #1f1e1e;

.cv-code {
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  content-visibility: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  background: $background-code;
  width: calc(100%);
  height: calc(100%);
  margin: 0 auto;
  &-header {
    display: flex;
    align-items: center;
    background: $background-header;
    color: $text-header;
    text-align: center;
    padding: 5px 10px;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
    font-family: "JetBrains Mono", monospace;
  }
  &-buttons {
    margin-right: 1rem;
    display: flex;
    gap: 6px;
    .fake-button[data-close] {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background: $window-close;
    }
    .fake-button[data-minify] {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background: $window-minify;
    }
    .fake-button[data-expand] {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background: $window-expand;
    }
  }
  &-title {
    margin: 0 auto;
    display: block;
  }
  .content {
    position: relative;
    color: white;
    padding: 1rem;

    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;

    height: calc(100% - 38px);
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 0.8rem;
    .instruction {
      display: block;
      padding: 0 0 7px 0;
    }
    .user {
      color: #6db928;
    }
    .path,
    .command {
      color: #6fa5cd;
    }
  }
  .content > div:last-child {
    scroll-snap-align: end;
  }

  .scrollbar::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  /* background of the scrollbar except button or resizer */
  .scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .scrollbar::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
  }

  /* scrollbar itself */
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
  }

  /* set button(top and bottom of the scrollbar) */
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }
}

.leftSide {
  display: flex;
  flex-direction: column;

  .headingSection {
    @extend .leftSide;
    align-items: center;
  }

  .toggleSection {
    padding-right: 12px;
  }
}

.sectionTitle {
  font-size: 1rem;
  color: darken(white, 50%);
  margin: 1rem 0;
}

hr {
  border-top: 1px solid rgba(128, 128, 128, 0.555);
  margin: 1.5rem auto 0.2rem auto;
}

/*
----------------------- Toggle ------------------------
*/
$circ: 1.0rem;
$switch-height: 0.9rem;

.hide {
  display: none;
}

.toggleButton {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
}

.toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: $switch-height * 2.3;
  height: $switch-height;
  border-radius: math.div($switch-height, 2);
  background: #d6d6d6;
  transition: box-shadow 0.4s;
  margin-right: 0.5rem;

  &:after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: $circ;
    height: $circ;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.4s, left 0.4s, height 0.2s, width 0.2s;
  }
}

input:checked + label {
  box-shadow: inset 0 0 0 $switch-height tint($red, 50%);
  background: lighten($red, 40%);
}

label:active:after,
input:checked + label:active:after {
  height: math.div($switch-height,1.1);
  width: $switch-height * 1.2;
}

input:checked + label:after {
  left: calc(100% - #{$circ});
  background: $red;
}

.label {
  font-size: 1rem;
}
