
.light {
  --text: black;
  --background: white;

  --terminal-text-header: black;
  --terminal-background-header: #e3e3e3;
  --terminal-background-code: white;
  --terminal-user-text: #408501;
  --terminal-msg-text: #0872c4;
}

.dark {
  --text: white;
  --background: #1f1e1e;

  --terminal-text-header: #eee;
  --terminal-background-header: #393d3e;
  --terminal-background-code: #1f1e1e;
  --terminal-user-text: #6db928;
  --terminal-msg-text: #6fa5cd;
}

.main {
  background-color: var(--background);
  color: var(--text);
}

.app-header {
  padding: 12px;
  height: calc(100vh - 32px); // 32px = navbar height
  bottom: 0;
  display: flex;
  font-size: calc(8px + 2vmin);
}

.col {
  width: 50%;
}
