/*
----------------------- Toggle ------------------------
*/
@use 'sass:math';
$red: #dc262d;
$circ: 1.0rem;
$switch-height: 0.9rem;

.hide {
  display: none;
}

.toggleButton {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
}

.toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: $switch-height * 2.3;
  height: $switch-height;
  border-radius: math.div($switch-height, 2);
  background: #d6d6d6;
  transition: box-shadow 0.4s;
  margin-right: 0.5rem;

  &:after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: $circ;
    height: $circ;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.4s, left 0.4s, height 0.2s, width 0.2s;
  }
}

input:checked + label {
  box-shadow: inset 0 0 0 $switch-height tint($red, 50%);
  background: lighten($red, 40%);
}

label:active:after,
input:checked + label:active:after {
  height: math.div($switch-height,1.1);
  width: $switch-height * 1.2;
}

input:checked + label:after {
  left: calc(100% - #{$circ});
  background: $red;
}

.label {
  font-size: 1rem;
}